body {
  background-color: #2196f34a;
  margin: 0;
  font-family: sans-serif;
}

video {
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.box {
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.wrappper {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

h1 {
  font-size: 4rem;
  margin: 0;
}


div.count {
  font-size: 10rem;
  display: flex;
  justify-content: center;
}

div.count.train {
  animation: spin 1000ms linear infinite;
}

div.tongue {
  font-size: 4rem;
  margin-left: 4rem;
}

div.left.tongue {
    transform: rotate(90deg);
}

div.right.tongue {
  transform: rotate(-90deg);
}

div.play.tongue {
  transform: rotate(0deg);
}

div.tongue.loading {
    animation: spin 1000ms linear infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

div.score {
    display: flex;
    justify-content: center;
}
